
@charset "utf-8";
:root {
    --color_main: #eff5f9;
    --color_white: #fff;
    --color_blue: #3498db;
    --color_gray: #888;
    --color_darkGray: #333;
    --color_lightGray: #ccc;
    --color_whiteGray: #fcfcfc; 
} 
body {
    font-family: sans-serif;
    text-align: center;
    padding: 50px 20px;
    background: var(--color_main);
    color: var(--color_darkGray);   
}
.container { 
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    background: var(--color_white);
}
h1 {
    padding-bottom: 10px;
    color: var(--color_darkGray);
    border-bottom: 2px solid var(--color_blue);
}
.app-card {
    display: block;
    padding: 20px;
    margin: 15px 0;
    border-radius: 8px;
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
    text-align: left;
    background: var(--color_whiteGray);
    border: 1px solid var(--color_lightGray);  
}
.app-card:hover {
    transform: translateY(-3px);
    border-color: var(--color_blue);
}
.app-name {
    font-weight: bold;
    font-size: 1.2em;
    display: block;
    margin-bottom: 0.6em;
    color: var(--color_blue);   
}
.app-desc {
    font-size: 0.9em;
    margin-top: 5px;
     color: var(--color_gray);   
}
.btn {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
    margin-right: 10px;
    background: var(--color_blue);
    color: var(--color_white);   
}
.btn-zip {
    background: var(--color_gray);
}
.btn:hover {
    opacity: 0.8;
    transform: translateY(-3px);
}